body {
  margin: 0; }

.topNav {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: white;
  padding: 5px 0px;
  font-size: 14px;
  width: 100%;
  height: 35px;
  margin: 0;
  font-family: inherit;
  color: white; }
  .topNav .update {
    display: flex;
    align-self: center;
    margin-left: 6%; }
  .topNav .users {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    margin-right: 5%; }
    .topNav .users .login {
      display: flex;
      align-self: center; }
    .topNav .users .register {
      margin-right: 8%;
      display: flex;
      align-self: center; }
    .topNav .users a {
      color: white;
      text-decoration: none; }
    .topNav .users a:hover {
      color: white;
      text-decoration: underline; }

.middleNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 125px; }
  .middleNav .pic {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 6%;
    height: 69px; }
    .middleNav .pic img {
      height: 69px;
      width: auto; }
    .middleNav .pic .text {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      height: 69px;
      width: 600px; }
      .middleNav .pic .text .italic {
        margin: 0;
        font-style: italic;
        font-size: 25px;
        font-weight: 100; }
      .middleNav .pic .text h1 {
        margin: 0;
        font-weight: lighter;
        font-size: 40px; }
  .middleNav .buttons {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-around;
    margin-right: 200px;
    font-family: inherit;
    font-style: inherit; }
    .middleNav .buttons .Donate button {
      background-color: white;
      height: 43px;
      width: 151px;
      color: #5496c9;
      font-size: 100%;
      border: 2px solid lightgrey;
      font-weight: bolder; }
    .middleNav .buttons .Search button {
      background-color: #5496c9;
      height: 43px;
      width: 151px;
      color: white; }

.bottomNav {
  display: flex;
  justify-content: center; }
  .bottomNav .container {
    width: 70%; }
    .bottomNav .container ul {
      height: 40px;
      display: flex;
      justify-content: space-between;
      list-style-type: none; }
      .bottomNav .container ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid lightgrey;
        height: 100%;
        width: 50%; }
        .bottomNav .container ul li #noBorder {
          border: none; }
        .bottomNav .container ul li a {
          text-decoration: none;
          font-size: 15px;
          color: #454545; }

.relatives {
  width: 100%;
  height: 500px; }
  .relatives .searchForRelatives {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: row; }
    .relatives .searchForRelatives .mainPic img {
      width: 100%;
      height: auto;
      position: absolute; }
    .relatives .searchForRelatives .mainPic .text {
      position: absolute;
      top: calc(50% + 60.295px);
      left: calc(50% - 255.5px);
      color: white;
      text-shadow: 2px 2px 4px black; }
      .relatives .searchForRelatives .mainPic .text .button {
        display: flex;
        justify-content: center; }
        .relatives .searchForRelatives .mainPic .text .button button {
          width: 116px;
          height: 39px;
          background-color: #5496c9;
          font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          color: white;
          font-size: 15px; }
    .relatives .searchForRelatives .searchRelatives {
      top: 300px;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #91c1aa;
      font-size: 0.8rem;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.5); }
      .relatives .searchForRelatives .searchRelatives .inputs {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .relatives .searchForRelatives .searchRelatives .inputs input {
          width: 50%; }
        .relatives .searchForRelatives .searchRelatives .inputs .button button {
          background-color: #5496c9;
          border: none;
          width: 100%;
          height: 40px;
          margin-left: 30px; }

.honorYourFamily {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .honorYourFamily .top {
    display: flex;
    width: 100%;
    justify-content: center; }
  .honorYourFamily .families {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    .honorYourFamily .families .family {
      width: 590px;
      height: 392px;
      margin-left: 1%;
      margin-right: 1%;
      position: relative; }
      .honorYourFamily .families .family img {
        position: absolute;
        max-width: 590px; }
      .honorYourFamily .families .family .text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 259px;
        background-color: #91c1aa;
        width: 590px;
        color: white; }
        .honorYourFamily .families .family .text .title {
          display: flex;
          flex-direction: row;
          margin-left: 5%;
          justify-content: space-between;
          align-items: center; }
          .honorYourFamily .families .family .text .title button {
            background-color: #5496c9;
            border: 1px solid white;
            width: 99px;
            height: 38px;
            margin-right: 5%;
            color: white;
            font-size: 100%; }

.becomeAMember {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  .becomeAMember .box {
    width: 49%;
    max-width: 300px;
    border: 1px solid black; }
    .becomeAMember .box #featuredStory {
      position: relative; }
      .becomeAMember .box #featuredStory img {
        width: 100%;
        position: absolute;
        clip: rect(0px, 300px, 100px, 0px); }
      .becomeAMember .box #featuredStory h2 {
        width: 100%;
        position: absolute;
        color: white; }
      .becomeAMember .box #featuredStory h3 {
        width: 100%;
        position: absolute;
        color: white;
        margin-top: 50px; }
      .becomeAMember .box #featuredStory .text {
        position: absolute; }
        .becomeAMember .box #featuredStory .text p {
          display: flex;
          flex-wrap: wrap;
          margin-top: 100px;
          font-size: 14px; }
    .becomeAMember .box #member {
      margin: 0; }
      .becomeAMember .box #member h1 {
        font-size: 18px; }
      .becomeAMember .box #member h3 {
        font-size: 14px; }
      .becomeAMember .box #member .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .becomeAMember .box #member .buttons #login button {
          background-color: #91c1aa; }
        .becomeAMember .box #member .buttons #join button {
          background-color: lightblue; }

.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 600px; }
  .shop .items {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .shop .items .item {
      width: 16%;
      min-width: 200px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .shop .items .item h1 {
        font-size: 16px; }
      .shop .items .item p {
        font-size: 10px; }
      .shop .items .item h3 {
        font-size: 16px; }
      .shop .items .item h2 {
        font-size: 16px; }

@media only screen and (max-width: 800px) {
  .statueofLiberty {
    display: none; }

  .pic {
    justify-content: center;
    padding: 0;
    margin: 0; } }
@media only screen and (max-width: 684px) {
  #readMoreButton {
    display: none; }

  #registerNow {
    display: none; }

  #textinPic {
    display: none; }

  .relatives {
    height: 100px; } }
@media only screen and (max-width: 1250px) {
  #family {
    margin-top: 6%; } }
@media only screen and (max-width: 1100px) {
  #donateNow {
    display: none; }

  #registerNow {
    display: none; }

  #login {
    display: none; } }
@media only screen and (max-width: 1300px) {
  #searchRelatives {
    display: none; }

  .relatives {
    height: 400px; } }

/*# sourceMappingURL=output.css.map */
