$color1: #5496c9;
$color2: #1f1f1f;
$color3: #454545;
$color4: #91c1aa;

// * {
//   border: 1px solid pink;
// }

body {
  margin: 0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  background-color: $color2;
  color: white;
  padding: 5px 0px;
  font-size: 14px;
  min-width: 1212px;
  height: 35px;
  margin: 0;
  font-family: inherit;
  color: white;
  .update {
    display: flex;
    align-self: center;
    margin-left: 6%;
  }
  .users {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    margin-right: 5%;
    .login {
      display: flex;
      align-self: center;
    }
    .register {
      margin-right: 8%;
      display: flex;
      align-self: center;
    }
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: white;
      text-decoration: underline;
    }
  }
}


.middleNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  height: 125px;
  .pic {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 6%;
    height: 69px;
    img {
      height: 69px;
      width: auto;
    }
    .text {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      height: 69px;
      width: 600px;
      .italic {
        margin: 0;
        font-style: italic;
        font-size: 25px;
        font-weight: 100;
      }
      h1 {
        margin: 0;
        font-weight: lighter;
        font-size: 40px;
      }
    }
  }
  .buttons {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: space-around;
    margin-right: 200px;
    font-family: inherit;
    font-style: inherit;
    .Donate {
      button {
        background-color: white;
        height: 43px;
        width: 151px;
        color: $color1;
        font-size: 100%;
        border: 2px solid lightgrey;
        font-weight: bolder;

      }
    }
    .Search {
      button {
        background-color: $color1;
        height: 43px;
        width: 151px;
        color: white;
      }
    }
  }
}


.bottomNav {
  margin: auto;
  display: flex;
  justify-content: center;
  .container {
    width: 70%;
    ul {
      height: 40px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid lightgrey;
        height: 100%;
        width: 50%;
        #noBorder {
          border: none;
        }
        a {
          text-decoration: none;
          font-size: 15px;
          color: $color3;
        }
      }
    }
  }
}

.relatives {
  width: 100%;
  height: 500px;
  min-width: 800px;
  .searchForRelatives {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: row;
    .mainPic {

      img {
        width: 100%;

        height: auto;
        position: absolute;
      }
      .text {
        // display: flex;
        // align-items: center;
        position: absolute;
        top: calc(50% + 60.295px);
        left: calc(50% - 255.5px);
        color: white;
        text-shadow: 2px 2px 4px black;
        .button {
          display: flex;
          justify-content: center;

          button {
            width: 116px;
            height: 39px;
            background-color: $color1;
            font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
            font-size: 15px;

          }
        }
      }


    }
    .searchRelatives {
      top: 300px;
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $color4;
      font-size: 0.8rem;
      font-weight: 600;
      // top: 523px;
      // left: calc(50% - 1000px);
      background-color: rgba(0, 0, 0, 0.5);
      .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          width: 50%;
          // width: 494px;
          // height: 34px;
          // max-height: 34px;
        }
        .button {
          button {
            background-color: $color1;
            border: none;
            width: 100%;
            height: 40px;
            margin-left: 30px;
          }
        }
      }
    }
  }
}





.honorYourFamily {
  width: 100%;
  display: flex;
  flex-direction: column;

    // height: 1100px;
  .top {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .families {
    width: 100%;
    // height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .family {
      width: 590px;
      height: 392px;
      margin-left: 3%;
      margin-right: 3%;
      position: relative;
      img {
        position: absolute;
        max-width: 590px;
      }
      .text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 259px;
        background-color: #91c1aa;
        width: 590px;
        color: white;
        .title {
          display: flex;
          flex-direction: row;
          margin-left: 5%;
          justify-content: space-between;
          align-items: center;
          button {
            background-color: $color1;
            border: 1px solid white;
            width: 99px;
            height: 38px;
            margin-right: 5%;
            color: white;
            font-size: 100%;
          }
        }
      }
    }
  }
}


.becomeAMember {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  .box {
    width: 49%;
    max-width: 300px;
    border: 1px solid black;
    #featuredStory {
      position: relative;
      img {
        width: 100%;
        position: absolute;
        clip: rect(0px,300px,100px,0px);
      }
      h2 {
        width: 100%;
        position: absolute;
        color: white;
      }
      h3 {
        width: 100%;
        position: absolute;
        color: white;
        margin-top: 50px;
      }
      .text {
        position: absolute;

        p {
          display: flex;
          flex-wrap: wrap;
          margin-top: 100px;
          font-size: 14px;
        }

      }

    }
    #member {
      margin: 0;
      h1 {
        font-size: 18px;
      }
      h3 {
        font-size: 14px;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        #login {
          button {
            background-color: #91c1aa;
          }
        }
        #join {
          button {
            background-color: lightblue;
          }
        }

      }

  }
}
}

.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 600px;
  .items {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .item {
      width: 16%;
      min-width: 200px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 16px;
      }
      p {
        font-size: 10px;
      }
      h3 {
        font-size: 16px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }
}







@media only screen and (max-width: 500px) {
  #searchRelatives {
    display: none;
  }
  .relatives {
    height: 400px;
  }
  #readMoreButton {
    display: none;
  }
  #registerNow {
    display: none;
  }
}


@media only screen and (max-width: 1100px) {
  #donateNow {
    display: none;
  }
  #registerNow {
    display: none;
  }
}
